:root {
    --neutral-light-stone: #E4E8F0;
    --c-spire-white: #FFF;
    --primary-cyan: #00C0F3;
    --primary-steel-blue: #0F3D58;
}

.nabber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    /* Adjust to suit your needs */
    height: 100px;
    margin-top: px;
}

.point-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    /* Adjust to suit your needs */
}

.point {
    border-radius: 40px;
    border: 2px solid var(--neutral-light-stone);
    background: var(--c-spire-white);
    width: 16px;
    height: 16px;
    transition: border-color -0.5s ease-in-out;
}

.point:hover {
    background-color: 7px solid var(--primary-cyan);
}

.highlighted {
    border: 7px solid var(--primary-cyan);
    width: 10px;
    height: 10px;
}

.bar {
    flex-grow: 1;
    height: 2px;
    background: var(--neutral-light-stone);
    border-radius: 500px;
    margin-top: -10%;
    position: relative;
    overflow: hidden;
    height: 4px;
}

.inner-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #00C0F3;
    transition: width 0.5s linear;
}

.bar-highlighted {
    background: var(--primary-cyan);
}

.point-text {
    color: var(--primary-steel-blue);
    text-align: center;
    font-size: 14px;
    font-family: 'Tablet Gothic Narrow', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.28px;
    text-transform: capitalize;
    visibility: hidden;
    margin-top: 30px;
    max-width: 50px;
    overflow: visible;
    white-space: nowrap;
    position: relative;
    left: -150%;
}

.point-text.first {
    /* Special styles for the first point */
    transform: translateX(30%);
    left: 0;
}

.point-text.last {
    /* Special styles for the last point */
    margin-right: 580%;
}

.point-text.visible {
    visibility: visible;
    /* Added this line to make the text visible when a point is selected */
}

.point.completed {
    background-color: #00C0F3;
}

.point.completed::after {
    color: white;
    position: absolute;
}

@keyframes fillBar {
    from {
        background-size: 0% 100%;
    }
    to {
        background-size: 100% 100%;
    }
}

.bar {
    transition: background 0.5s;
}

.bar-highlighted {
    background-size: 100% 100%;
    animation: fillBar 0.5s forwards;
}

.point {
    transition: background 0.3s;
}

.point.highlighted {
    transition: background 0.3s;
}

.point.completed {
    transition: background 0.3s;
}

.point-text {
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateX(-100px);
}

.point-text.visible {
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5 ease-in-out;
}