:root {
    --neutral-light-stone: #E4E8F0;
    --c-spire-white: #FFF;
    --primary-cyan: #00C0F3;
    --primary-steel-blue: #0F3D58;
}

body {
    background: var(--c-spire-white, #FFF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Tablet Gothic Narrow', sans-serif;
}

#mainContainer {
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 80vh;
    box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.332);
    border-radius: 20px;
    background: var(--neutral-stone-washed-white, #F7F9FB);
    padding: 2%;
    transition: all 0.3s ease-in-out;
}

#mainContainer .progressBar {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(40%);
}

#flipbook {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 65vh;
    border-radius: 20px;
}

#flipbook .img-container {
    flex: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    margin-left: 11%;
    position: relative;
}

#flipbook .img-container img {
    object-fit: contain;
    max-height: 55vh;
    border-radius: 15px;
    margin-right: 7%;
}

.zoom-icon1,
.zoom-icon2 {
    position: absolute;
    bottom: -9%;
    max-width: 50%;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.zoom-icon1 {
    left: 34%;
}

.zoom-icon2 {
    left: 89%;
}

.zoom-icon1:hover {
    transform: scale(1.5);
}

.zoom-icon2:hover {
    transform: scale(1.5);
}

#flipbook .text-buttons {
    display: flex;
    flex-direction: column;
    flex: 1.2;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    height: 100%;
    transition: all 0.3s ease-in-out;
    position: relative;
}

#flipbook #text-container {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: left;
    transform: translateY(5%);
    transition: all 0.3s ease-in-out;
}

#flipbook .steps-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 0;
    margin: 0;
    transition: height 0.5s ease-in-out;
    height: auto;
}

.steps-container li {
    transition: opacity 0.3s ease-in-out;
}

#flipbook li {
    color: var(--neutral-slate-black, #131E29);
    font-size: 16px;
    font-family: 'Tablet Gothic Narrow', sans-serif;
    font-weight: 325;
    margin: 10px;
    overflow: visible;
    white-space: wa;
    letter-spacing: 0.32px;
    transition: all 0.3s ease-in-out;
}

#flipbook ol {
    line-height: 2;
    margin-bottom: 10px;
    padding: 0;
    margin-left: 1%;
    width: 550px;
}

#flipbook .mainText {
    color: var(--primary-steel-blue, #0F3D58);
    font-size: 32px;
    font-family: Comfortaa;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.32px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0%;
}

#flipbook .deviceType {
    color: var(--primary-cyan, #00C0F3);
    font-family: Tablet Gothic Narrow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    margin-bottom: -3%;
}

#flipbook .additionalInfo {
    color: #131E29;
    font-family: 'Tablet Gothic Narrow', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 325;
    line-height: 24px;
}

#flipbook .additionalInfo a {
    color: #00C0F3;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 35px;
    position: fixed;
    bottom: 22%;
    width: 200px;
    transition: all 0.3s ease-in-out;
}

.flipbook-button {
    width: 100px;
    height: 50px;
    border-radius: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Tablet Gothic Narrow;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 0;
    transition: all 0.7s ease-in-out;
    opacity: 0;
}

#prev {
    left: 0;
    border: 2px solid #00C0F3;
    background: var(--neutral-white, #FFF);
    color: #00C0F3;
}

#next {
    left: 0;
    border: 2px solid #00C0F3;
    background: var(--primary-cyan, #00C0F3);
    color: var(--neutral-white, #FFF);
}

#prev:hover {
    background-color: #00C0F3;
    color: #FFF;
    transform: scale(1.01);
}

#next:hover {
    background-color: #FFF;
    color: #00C0F3;
    transform: scale(1.01);
}

.dropdown {
    position: relative;
    display: inline-block;
    visibility: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: none;
    z-index: 9998;
}

.img-container img:not([class^="zoom-icon"]) {
    transition: transform 0.5s ease;
    z-index: 1;
    position: relative;
}

.img-container img.zoomed-in {
    z-index: 9999;
}


/* Progress bar CSS */

.nabber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 100px;
    margin-top: px;
}

.point-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.point {
    border-radius: 40px;
    border: 2px solid var(--neutral-light-stone);
    background: var(--c-spire-white);
    width: 16px;
    height: 16px;
    transition: border-color -0.5s ease-in-out;
}

.point:hover {
    background-color: 7px solid var(--primary-cyan);
}

.highlighted {
    border: 7px solid var(--primary-cyan);
    width: 10px;
    height: 10px;
}

.bar {
    flex-grow: 1;
    height: 2px;
    background: var(--neutral-light-stone);
    border-radius: 500px;
    margin-top: -8.3%;
    position: relative;
    overflow: hidden;
    height: 4px;
}

.inner-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #00C0F3;
    transition: width 0.5s linear;
}

.bar-highlighted {
    background: var(--primary-cyan);
}

.point-text {
    color: var(--primary-steel-blue);
    text-align: center;
    font-size: 14px;
    font-family: 'Tablet Gothic Narrow', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.28px;
    text-transform: capitalize;
    visibility: hidden;
    margin-top: 20%;
    max-width: 50px;
    overflow: visible;
    white-space: nowrap;
    position: relative;
    left: -150%;
}

.point-text.first {
    transform: translateX(30%);
    left: 0;
}

.point-text.last {
    margin-right: 580%;
}

.point-text.visible {
    visibility: visible;
}

.point.completed {
    background-color: #00C0F3;
}

.point.completed::after {
    color: white;
    position: absolute;
}

@keyframes fillBar {
    from {
        background-size: 0% 100%;
    }
    to {
        background-size: 100% 100%;
    }
}

.bar {
    transition: background 0.5s;
}

.bar-highlighted {
    background-size: 100% 100%;
    animation: fillBar 0.5s forwards;
}

.point {
    transition: background 0.3s;
}

.point.highlighted {
    transition: background 0.3s;
}

.point.completed {
    transition: background 0.3s;
}

.point-text {
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateX(-100px);
}

.point-text.visible {
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5 ease-in-out;
}

@media (max-width: 1000px) {
    body {
        flex-direction: column;
    }
    #mainContainer {
        padding: 0;
        box-sizing: border-box;
        overflow-y: scroll;
        flex-direction: column;
        overflow: hidden;
    }
    #flipbook {
        flex-direction: column;
        width: 100%;
    }
    #flipbook .img-container {
        flex-direction: row;
        justify-content: space-around;
        margin-right: 0;
        margin-left: 0;
    }
    #flipbook .img-container img {
        margin-top: 10%;
        border-radius: 30px;
        max-width: 40%;
        margin-right: 0;
        margin-left: -1%;
    }
    .zoom-icon1 {
        top: 81%;
        left: 35%;
        width: 20%;
    }
    .zoom-icon2 {
        top: 81%;
        left: 85%;
        width: 20%;
    }
    #flipbook .text-buttons {
        width: 100%;
        height: 100%;
        padding: 1em;
        margin-left: 10%;
    }
    #flipbook #text-container {
        text-align: left;
        width: 90%;
        height: 550px;
    }
    #flipbook .mainText {
        font-size: 300%;
    }
    #flipbook .deviceType {
        font-size: 150%;
    }
    #flipbook ol {
        width: 90%;
        font-size: 160%;
        margin-top: 2%;
    }
    #flipbook .additionalInfo {
        font-size: 150%;
    }
    #flipbook .button-container {
        bottom: 0;
        width: 100%;
        justify-content: space-evenly;
        padding: 10px 0;
        z-index: 900;
    }
    .flipbook-button {
        width: 25%;
        height: 420%;
        border-radius: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 170%;
        font-family: Tablet Gothic Narrow;
        font-weight: 100;
        line-height: 24px;
        letter-spacing: 0.32px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        position: absolute;
        left: 0;
        transition: all 0.7s ease-in-out;
        opacity: 0;
    }
    /* Progress Bar */
    .nabber {
        width: 80%;
        padding: 0 10px;
    }
    .point-container {
        margin-bottom: 1%;
    }
    .point {
        border-radius: 60px;
        width: 20px;
        height: 20px;
    }
    .highlighted {
        width: 20px;
        height: 20px;
    }
    .bar {
        height: 10px;
        margin-top: -7.85%;
    }
    .inner-bar {
        height: 10px;
    }
    .point-text {
        font-size: 30px;
        line-height: 18px;
        margin-top: 50%;
        left: -400%;
        font-weight: 100;
    }
    .point-text.first {
        transform: translateX(-50%);
    }
    .point-text.last {
        transform: translateX(-700%);
        left: 50%;
    }
}