/* Body and Global settings */

body {
    background: var(--c-spire-white, #FFF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Tablet Gothic Narrow', sans-serif;
}


/* Flipbook container settings */

#mainContainer {
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80vh;
    box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.332);
    border-radius: 20px;
    background: var(--neutral-stone-washed-white, #F7F9FB);
    padding: 2%;
    transition: all 0.3s ease-in-out;
}

#mainContainer .progressBar {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(40%);
}

#flipbook {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 65vh;
    border-radius: 20px;
}


/* Image container settings */

#flipbook .img-container {
    flex: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
}


/* Image settings */

#flipbook .img-container img {
    object-fit: contain;
    max-height: 45vh;
    border-radius: 15px;
    margin-right: 7%;
}


/* Text and Button container settings */

#flipbook .text-buttons {
    display: flex;
    flex-direction: column;
    flex: 1.2;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}


/* Text container settings */

#flipbook #text-container {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: left;
    transform: translateY(9%);
    transition: all 0.3s ease-in-out;
}


/*  container settings */

#flipbook .steps-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 0;
    margin: 0;
    transition: height 0.5s ease-in-out;
    height: auto;
    width: 90%;
}

.steps-container li {
    transition: opacity 0.3s ease-in-out;
}


/* List item settings */

#flipbook li {
    color: var(--neutral-slate-black, #131E29);
    font-size: 16px;
    font-family: 'Tablet Gothic Narrow', sans-serif;
    font-weight: 325;
    margin: 10px;
    overflow: visible;
    white-space: nowrap;
    letter-spacing: 0.32px;
    transition: all 0.3s ease-in-out;
}

#flipbook ol {
    line-height: 2;
    margin-bottom: 10px;
    padding: 0;
    margin-left: 1%;
}


/* Paragraph settings */

#flipbook p {
    color: var(--primary-steel-blue, #0F3D58);
    font-size: 32px;
    font-family: Tablet Gothic Narrow;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.32px;
    transition: all 0.3s ease-in-out;
}


/* Button container settings */


/* .button-container {
    display: flex;
    justify-content: space-between;
    width: 20%;
    position: absolute;
    bottom: 23%;
    left: 46.5%;
} */

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 35px;
    position: relative;
    width: 200px;
    transition: all 0.3s ease-in-out;
}


/* Flipbook button settings */

.flipbook-button {
    width: 100px;
    height: 50px;
    border-radius: 160px;
    border: 2px solid #00C0F3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: var(--primary-cyan, #00C0F3);
    color: var(--neutral-white, #FFF);
    font-size: 15px;
    font-family: Tablet Gothic Narrow;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 0;
    transition: all 0.7s ease-in-out;
    opacity: 0;
}

#prev {
    left: 0;
}

#next {
    left: 0;
}


/* Flipbook button hover state */

#flipbook button:hover {
    background-color: #FFF;
    color: #00C0F3;
    transform: scale(1.01);
}


/* DropDown Menu container */

.dropdown {
    position: relative;
    display: inline-block;
    visibility: hidden;
}